
.wrapper {
display: grid;
margin-top: 5vh;
grid-template-columns: repeat(32, 1fr);
row-gap: 2%;
margin-bottom: 15vh;
grid-auto-flow: row;
}

.one {
    grid-column: 1 / 11;
    grid-row: 1 / 11;
}
.two {
    grid-column: 12 / 22;
    grid-row: 1 / 11;
}
.three {
    grid-column: 23 / 33;
    grid-row: 1 / 11;
}
.four {
    grid-column: 1 / 11;
    grid-row: 12 / 22;
}

.five {
    grid-column: 12 / 22;
    grid-row: 12 / 22;
}

.five:hover {

}

.six {
    grid-column: 23 / 33;
    grid-row: 12 / 22;
}

.seven {
    grid-column: 1 / 11;
    grid-row: 23 / 33;
}

.eight {
    grid-column: 12 / 22;
    grid-row: 23 / 33;
}

.nine {
    grid-column: 23 / 33;
    grid-row: 23 / 33;
}

.extra {
    grid-column: 12 / 22;
    grid-row: 4 / 30;
    opacity: 0;
    transition: 0.5s;
}

.extra:hover {

}

.tinyShadow {
    /* box-shadow: 25px 25px 50px rgb(0, 0, 0, 0.1); */
}