* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.carousel-container {
  display: block;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  overflow: hidden;
  border-radius: 40px;
  /* background-color: rgb(220, 220, 220); */
}

.carousel-slide {
  display: flex;
  width: 100%;
  height: 43vh;
}

.pic {
  display: block;
  border-radius: 40px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.picWrapper {
  height: 100%;
  margin-left: 10vw;
  margin-right: 10vw;
}

.buttonWrapper {
  display: flex;
  list-style: none;
  width: 6vw;
  margin-left: 47vw;
  margin-top: 5vh;
  margin-bottom: 8vh;
}

.btnImg {
  width: 2vw;
}

.center80 {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

@font-face {
  font-family: "Gotham Bold";
  src: url(../fonts/GothamBold.ttf) format("truetype");
}

@font-face {
  font-family: "Gotham Medium";
  src: url(../fonts/GothamMedium.ttf) format("truetype");
}

@font-face {
  font-family: "Ubuntu Bold";
  src: url(../fonts/Ubuntu-Bold.ttf) format("truetype");
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url(../fonts/Ubuntu-Medium.ttf) format("truetype");
}

body {
  border: 0;
  margin: 0;
  padding: 0;
  background-color: rgb(250, 250, 250);
}

a {
  text-decoration: none;
}

a :hover {
  color: rgb(230, 230, 230);
}

ul {
  list-style: none;
  display: inline-block;
}

.h {
  font-family: "Ubuntu Bold";
  line-height: 2;
}

.p {
  font-family: "Ubuntu Medium";
  line-height: 1.7;
  font-size: medium;
  padding-bottom: 15px;
}

.noBorderAtAll {
  border: 0;
  margin: 0;
  padding: 0;
}

.topBottomMargin {
  margin-top: 1.5%;
  margin-bottom: 1.5%;
}

.roundCornerImg {
  border-radius: 30px;
}

.rcorners {
  border-radius: 15px;
  background: rgb(21, 84, 143);
  padding: 20px;
  width: 200px;
  height: 30px;
}

.grid {
  border-radius: 40px;
  position: relative;
  border: 0;
  margin-left: 0;
  box-shadow: 25px 25px 50px rgb(0, 0, 0, 0.2);
  padding: 10%;
  display: inline-block;
  background-color: white;
  vertical-align: top;
  transition: 0.3s;
}

.grid:hover {
  box-shadow: 25px 25px 50px rgb(0, 0, 0, 0.32);
}

#navbar {
  height: 120px;
  position: sticky;
  z-index: 999;
}

#navbar li {
  display: inline-block;
}

#navbar ul {
  margin: 0;
  border: 0;
  padding-left: 10%;
  width: 80%;
}

/* Avoid the button gets too small */
@media only screen and (max-width: 1200px) {
  .btnImg {
    width: 30px;
  }
}
